name: Android CI

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0   # CẦN để move tag

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 17
        cache: gradle

    - name: Decode keystore
      run: |
        echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 --decode > app/release.jks

    - name: Grant execute permission
      run: chmod +x gradlew

    - name: Stop existing Gradle daemons
      run: ./gradlew --stop

    - name: Build signed APK
      env:
        KEYSTORE_FILE: release.jks
        KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
        RELEASE_SIGN_KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
        RELEASE_SIGN_KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
      run: |
        ./gradlew assembleRelease --no-daemon

    - name: Upload GitHub Release
      uses: softprops/action-gh-release@v1
      with:
        tag_name: latest-release
        name: Latest Release
        files: |
          app/build/outputs/apk/**/release/*.apk
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Update latest-release tag
      run: |
        git tag -f latest-release
        git push origin latest-release --force
